.git/
.hg/
.coverage
.coverage.*
coverage.xml
.venv
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
__pycache__/
.env.pr*
.env.te*
.env.dev_q*
.~*
*.log
*.orig
*.tar*
*.tmp*
tmp/

deploy/history
deploy/current/data
deploy/current/code
*.generated.*
*__generated.*

